{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <title>Unit - Login</title>
</head>
<body>
    <form action="{% url 'index' %}" method="post">{% csrf_token %}
        <input type="text" name="user" placeholder="usuário">
        <input type="password" name="password" placeholder="senha">
        <input type="checkbox" name="remember">
        <label for="remember">lembrar de mim</label>
        <input type="submit" value="login">
    </form>
</body>
</html>